{% extends "shop/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="row">
	<div class="content-section border col-sm-8">
		<div class="media">
			<div style="width: 210px; height: 210px" class="border text-center">
				<img class="account-img" style="width: 100%; height: 100%" src="{{ user.profile.image }}">
			</div>
			<div class="media-body">
				<h2 class="account-heading pt-3 pl-2">{{ user.username }}</h2>
			</div>
		</div>
		<form method="POST" enctype="multipart/form-data">
			{% csrf_token %}
			<fieldset class="form-group">
				<legend class="border-bottom mb-4 mt-4">Profile Info</legend>
				{{ u_form|crispy }}
				{{ p_form|crispy }}
			</fieldset>
			<div class="form-group">
				<button class="btn btn-outline-info">Update</button>
			</div>
		</form>

	</div>
	<div class="col-sm-4 border">
		<legend class="border-bottom mt-2">
			Your items
		</legend>
		{% for item in items %}
			<div class="row">
				<div class="col-sm-5">
					<a href="{% url 'item-detail' item.id  %}">{{ item.itemname }}</aa>
				</div>
				<div class="col-sm-4">
					<p class="text-muted">{{ item.price }},-</p>
				</div>
				<div class="col-sm-3">
				{% if item.for_sale == True %}
					<a href="{% url 'item-return' item.id %}"><button> Return </button></a>
				{% endif %}
				{% if item.for_sale == False %}
					<a href="{% url 'item-sell' item.id %}"><button> Sell </button></a>
				{% endif %}
				</div>
			</div>
		{% endfor %}
	</div>
</div>
{% endblock content %}