{% extends "shop/base.html" %}
{% load static %}
{% block content %}
{% if user.is_authenticated %}
{% for item in items %}
{% if item.for_sale == True %}
<div class="row mb-3">
	<div class="col-sm-3 border text-center">
		<h3 style="margin-top: 25%"><a href="#">{{ item.seller }}</a> is the seller</h3>
		<img class="mx-auto d-flex flex-wrap justify-content-center" src="{{ item.seller.profile.image }}" style="width:50%; height:50%">
		<p class="text-muted">{{ item.seller.profile.description }}</p>
	</div>
	<div class="col-sm-9 border">
		<div class="text-center ml-4 mr-4 mb-2" style="overflow-y: scroll">
			<a href="{% url 'item-detail' item.id  %}"><h1 style="margin-top: 3%"> {{ item.itemname }} </h1></a>
			<img src="{{ item.image }}" class="rounded mx-auto d-flex flex-wrap justify-content-center" style="width: 200px; height: 200px">
			<h3> {{ item.price }} CC </h3>
			<p> {{ item.about }} </p>
			{% if item.original != '<django.db.models.fields.related.ForeignKey>' %}
			<small class="text-muted">Originally sold by {{ item.original }}</small>
			{% endif %}
			{% if item.seller != user %}
			<a class="btn btn-outline-primary" href="{% url 'item-buy' item.id %}">Buy</a>
			<small class="text-muted" style="margin-bottom: 3%"> {{ item.date_posted }} </small>
			{% endif %}
		</div>
	</div>	
</div>
{% endif %}
{% endfor %}
{% else %}
<h1>LOG IN RETARD</h1>
{% endif %}
{% endblock content %}