{% extends "shop/base.html" %}
{% load static %}
{% block content %}
{% if user.is_authenticated %}
{% for item in items %}
{% if item.for_sale == True %}
<div class="row mb-3">
	<div class="col-sm-3 border text-center" style="overflow-x: scroll">
		<h3 style="margin-top: 25%">{{ item.seller }} is the seller</h3>
		<img class="mx-auto d-flex flex-wrap justify-content-center" src="{{ item.seller.profile.image }}" style="width:70%;">
		<p class="text-muted">{{ item.seller.profile.description }}</p>
	</div>
	<div class="col-sm-9 border">
		<div class="text-center ml-4 mr-4 mb-2" style="overflow-y: scroll">
			<a href="{% url 'item-detail' item.id  %}"><h1 style="margin-top: 3%"> {{ item.itemname }} </h1></a>
			<img src="{{ item.image }}" class="rounded mx-auto d-flex flex-wrap justify-content-center" style="width: 200px; height: 200px">
			<h3> {{ item.price }} coins </h3>
			<p> {{ item.about }} </p>
			{% if item.original != '<django.db.models.fields.related.ForeignKey>' %}
			<small class="text-muted">Originally sold by {{ item.original }}</small>
			{% endif %}
			{% if item.seller != user %}
			<a class="btn btn-outline-primary" href="{% url 'item-buy' item.id %}">Buy</a>
			<small class="text-muted" style="margin-bottom: 3%"> {{ item.date_posted }} </small>
			{% endif %}
		</div>
	</div>
</div>
{% endif %}
{% endfor %}
{% if is_paginated %}
  <ul class="pagination">
    {% if page_obj.has_previous %}
      <li><a class="page-link" href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
    {% else %}
      <li class="disabled"><span class="page-link">&laquo;</span></li>
    {% endif %}
    {% for i in paginator.page_range %}
      {% if page_obj.number == i %}
        <li class="page-item active"><span class="page-link">{{ i }} <span class="sr-only">(current)</span></span></li>
      {% else %}
        <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
      {% endif %}
    {% endfor %}
    {% if page_obj.has_next %}
      <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
    {% else %}
      <li class="page-item disabled"><span class="page-link">&raquo;</span></li>
    {% endif %}
  </ul>
{% endif %}
{% else %}
<h1>Section for logged users only</h1>
{% endif %}
{% endblock content %}